<!-- src/app/login/login.component.html -->
<div class="login-container">
    <nav class="navbar">
        <span class="navbar-title">BROOKE & CO</span>
        <span class="navbar-item">Gérer les interventions</span>
        <span class="navbar-item">Techniciens</span>
    </nav>
    <div class="banner-container">
        <img src="/assets/images/technicien3.jpg" alt="Bandeau">
        <img src="/assets/images/technicien2.jpg" alt="Bandeau">
        <img src="/assets/images/technicien1.jpeg" alt="Bandeau">
    </div>
    <div class="login-box">
        <h2 class="login-title">Connexion</h2>
        <form>
            <div class="form-field">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email" required>
            </div>

            <div class="form-field">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" placeholder="Mot de passe" required>
            </div>

            <button class="login-button">Se connecter</button>

            <div class="social-login">
                <span class="or-text">- OU -</span>
                <button class="social-button google-button">Se connecter avec Google</button>
                <button class="social-button facebook-button">Se connecter avec Facebook</button>
            </div>
        </form>
    </div>
    <div>
        
    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Brooke & Co. Tous droits réservés.</p>
        <p>Application interne pour la gestion des interventions.</p>
        <p>Contact : support&#64;brookeandco.com</p>
    </footer>
</div>